@import '~css/variables.scss';
@import '~css/mixin.scss';

.table {
  padding-top: 40px;
  width: 100%;
  // padding-left: 5vw;
  // padding-right: 5vw;

  & > pagination-block + table {
    margin-top: 30px;
  }
}

.number-column {
  text-align: center;
  width: 47px;
}

.code-column {
  margin-left: 4%;
  width: 100px;
}

.discount-column {
  margin-left: 4%;
  width: 50px;
}

.sum-column {
  margin-left: 4%;
  width: 65px;

  & > span {
    align-items: center;
    display: inline-flex;

    &::after {
      content: url('icon-ruble.svg');
      display: block;
      margin-left: 2px;
      padding-top: 1.4px;
      width: 11px;
    }
  }
}

.status-column {
  width: 196px;
}

.time-column {
  width: 105px;
  //margin-left: 2.584%;
}

.operation-status {
  align-items: center;
  display: flex;

  &::before {
    border-radius: 50%;
    content: '';
    display: block;
    height: 8px;
    margin-right: 11px;
    min-height: 8px;
    min-width: 8px;
    width: 8px;
  }

  &.orange::before {
    background-color: #ffc875;
  }

  &.green::before {
    background-color: $color-green-light;
  }

  &.red::before {
    background-color: $color-pink;
  }
}
