@import '~css/variables.scss';

.button {
  border: 1px solid gray;
  filter: opacity(0.7);
  font-size: 16px;
  line-height: 1;
  padding: 4px 8px;
  transition: filter 0.3s ease;

  &:hover {
    filter: opacity(1);
  }
}

.main {
  padding: 20px 0; //$margin-mobile;

  @media (--min-desktop) {
    // padding-left: $margin-desktop;
    // padding-right: $margin-desktop;
  }

  & > * + .button {
    margin-top: 15px;
  }
}

.h1 {
}

.h3 {
}

@for $i from 1 through 6 {
  .h$i + p {
    margin-top: calc(10px + $i * 2px);
  }

  p + .h$i {
    margin-top: calc(10px + $i * 2px);
  }
}

@for $i from 1 through 6 {
  .h$i {
    font-size: calc(var(--largeFontSize) * (1.1 - $i / 10));
    font-weight: calc(900 - $i * 100);
    line-height: 1.8;
  }
}

.p {
  font-size: calc(var(--largeFontSize) * 0.5);
}
