switches-container {
  display: block;
}

switches-content {
  display: block;
}

switches-content > aside > label,
switches-content > section > label {
  cursor: pointer;
  display: inline-block;
}

switches-content > section {
  & > input {
    opacity: 0;
    pointer-events: none;
    position: absolute;

    &:checked + switchable-block {
      display: block;
    }
  }

  & > label {
    display: none;
  }
}

switchable-block {
  display: none;
  width: 100%;
}
