@import '~css/variables.pcss';

.table-container {
  width: 100%;

  /* overflow-x: auto; it's break "position: sticky" in titleLine */
  padding-top: 50px;

  & > header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, max-content));
    grid-gap: 10px;
    justify-content: flex-end;

    & > button {
    }
  }

  & > header + main {
    margin-top: 20px;
  }

  & > main {
    min-width: max-content;
  }
}
