.picture {
  &.is-load {
  }
  &.is-load-error {
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('icon-offline.svg', param(--color hsl(146, 64%, 36%)));
  }
}
