.productsContainer {
  .line {
    grid-template-columns: 50px 200px 400px 150px 50px 50px;
    padding-top: 10px;
    padding-bottom: 10px;

    &:not(:first-child) > div:first-child picture {
      display: flex;
      height: 50px;
    }
  }
}
