@import "../../node_modules/postcss-css-reset/src/styles/reset.pc.css";
/* can consume `node_modules`, `web_modules` or local modules */
/* @import "normalize.css" == @import "../node_modules/normalize.css/normalize.css"; *!*/
@import "../fonts/fonts.css";
@import "sub/style3.scss";

.hello {
  font-family: 'PT Sans', sans-serif;

  p {
    margin: 0;
    font-size: 18px;
  }

  &::before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background-image: url('../img/icon.png');
    background-size: cover;
  }

  &::after {
    content: 'Other text';
    font-family: 'Times New Roman', Times, serif;
    display: flex;
  }
}

h1 {
  font-size: 24px;
  line-height: 1.8;
  color: red;
}