switchable-block {
	display: block;
	max-height: 0;
	overflow: hidden;

	@media (--max-desktop) {
		transition: max-height 0.5s ease;
	}

	@media (--min-desktop) {
		display: flex;
		opacity: 0;
		transition: opacity 0.5s ease;
	}

	&-title + &-description {
		margin-top: 11px;
	}

	&-description {
		margin-bottom: 67px;
	}
}


switchable-block > img {
	display: block;
	max-width: 100%;
	object-fit: contain;

	@media (--max-desktop) {
		width: 60vmin;
		margin-left: auto;
		margin-right: auto;
		margin-top: 33px;
	}

	@media (--min-desktop) {
		min-width: 21.2vw;
		margin-top: auto;
		margin-bottom: 4%;
		margin-left: 26px;
	}
}


switchable-block-text {
	display: block;
	padding-left: 29px;

	@media (--max-desktop) {
		margin-top: -4px;
		padding-right: 20px;
	}

	@media (--min-desktop) {
		padding-top: 66px;
		padding-right: 36px;
		width: 100%;
	}
}

switchable-block-title {
	display: block;
	color: #22253D;

	@media (--max-desktop) {
		display: none;
	}

	@media (--min-desktop) {
		font-size: 36px;
		line-height: 46px;
	}
}

switchable-block-description {
	display: block;
	color: rgba(51, 51, 51, 0.6);
	font-weight: $FontThin;

	@media (--max-desktop) {
		display: none;
	}

	@media (--min-desktop) {
		font-size: 20px;
		line-height: 28px;
	}
}