@import "../variables.scss";
@import "header-menu.scss";
@import "other.scss";

header {
  padding-top: 16px;

  @media (--max-desktop) {
    position: relative;
    background: linear-gradient(180deg, transparent 60px, #3c3f52 60px);
    padding-bottom: 10px;
  }

  @media (--min-desktop) {
    padding-top: 23px;
    align-items: center;
  }
}

@supports not (display: grid) {
  header {
    display: flex;
    flex-wrap: wrap;

    @media (--max-desktop) {
      padding-left: 20px;
      padding-right: 20px;

      &-logo {
        order: 1;
      }

      &-cart {
        order: 2;
        margin-left: auto;
        margin-right: 17px;
      }

      &-city {
        order: 3;
        width: calc(100% - 100px);
      }

      &-callback {
        order: 4;
        margin-left: auto;
      }
    }

    @media (--min-desktop) {
      justify-content: space-between;

      &-logo {
        margin-left: 3vw;
      }

      &-cart {
        margin-right: 3vw;
      }

      &-menu {
        margin-top: 26px;
        width: 100%;
      }
    }

    @media (--desktop) {
      &-menu > ul > li > a {
        font-size: 16px;
      }
    }
  }
}

@supports (display: grid) {
  header {
    display: grid;

    @media (--max-desktop) {
      grid-template: ". logo . cart ." ". city . callback .";
      grid-template-columns: 20px auto 1fr auto 20px;

      @supports (min-width: max-content) {
        grid-template-columns: 20px max-content 1fr max-content 20px;
      }
    }

    @media (--min-desktop) {
      grid-template: ". logo . city . callback . recommend . cart ." "menu menu menu menu menu menu menu menu menu menu menu";
      grid-row-gap: 26px;
    }

    @media (--desktop) {
      grid-template-columns: 3vw 245px minmax(3.2vw, 1fr) auto minmax(3.8vw, 1fr) 155px minmax(2vw, 1fr) 150px minmax(3.6vw, 1fr) 184px 3vw;

      @supports (min-width: max-content) {
        grid-template-columns: 3vw 245px minmax(3.2vw, 1fr) max-content minmax(3.8vw, 1fr) 155px minmax(2vw, 1fr) 150px minmax(3.6vw, 1fr) 184px 3vw;
      }
    }

    @media (--big-desktop) {
      grid-template-columns: 14vw 245px minmax(4.2vw, 1fr) auto minmax(3.8vw, 1fr) 155px minmax(5vw, 1fr) 150px minmax(4.6vw, 1fr) 184px 14vw;

      @supports (min-width: max-content) {
        grid-template-columns: 14vw 245px minmax(4.2vw, 1fr) max-content minmax(3.8vw, 1fr) 155px minmax(5vw, 1fr) 150px minmax(4.6vw, 1fr) 184px 14vw;
      }
    }
  }
}


