@import "../variables.scss";

.header {
  display: flex;
  align-items: center;
  padding-left: $margin-mobile;
  padding-right: $margin-mobile;

  @media (--min-desktop) {
    padding-left: $margin-desktop;
    padding-right: $margin-desktop;
  }

  &::before {
    content: 'React Project';
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    color: #000;
    margin-right: auto;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  background-color: #fff;
}

.header-nav-link {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: rgba(79, 79, 79, .5);
  transition: .3s;
  padding: 28px 0 23px;
  border-bottom: 3px solid transparent;

  &.active {
    color: #4f4f4f;
    border-color: #3ac162;
  }

  &:hover {
    color: #000;
  }

  & + & {
    margin-left: 36px;
  }
}
