header-logo {
	grid-area: logo;
	display: flex;
	align-items: center;

	& > a {
		display: inline-block;

		&.evotor,
		&.lad {
			background-repeat: no-repeat;
			background-size: contain;
		}

		&.evotor {
			//background-image: url('../../img/logo-evotor.svg');
			width: 160px;
			height: 29px;

			@media (--max-desktop) {
				width: 112px;
				height: 21px;
			}
		}

		&.lad {
			//background-image: url('../../img/logo-lad-gray.svg');
			width: 73px;
			height: 37px;
			margin-top: 3px;

			@media (--max-desktop) {
				width: 50px;
				height: 26px;
			}
		}

		&.evotor + .lad {
			margin-left: 20px;

			@media (--max-desktop) {
				margin-left: 15px;
			}
		}
	}
}

header-city {
	grid-area: city;
	display: block;

	@media (--max-desktop) {
		margin-top: 31px;
		margin-left: 40px;
	}

	& > a {
		text-decoration: none;
		font-size: 14px;
		font-weight: $FontLight;
		line-height: 16px;
		color: $color-white;

		@media (--min-desktop) {
			font-size: 16px;
			line-height: 28px;
			color: #2c2f45;
			border-bottom: 1px solid rgba(52, 53, 77, 0.15);
		}
	}
}

header-callback {
	grid-area: callback;
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: -2px;

	@media (--max-desktop) {
		margin-left: 17px;
		margin-top: 26px;
	}

	& > a {
		font-size: 20px;
		font-weight: $FontMedium;
		color: #2c2f45;
		text-decoration: none;

		@media (--max-desktop) {
			font-size: 0;
			width: 32px;
			height: 32px;
			background-color: #ff7800;
			background-image: url('../../img/icon-phone-white.svg');
			background-repeat: no-repeat;
			background-size: 14px 14px;
			background-position: 50% 50%;
			border-radius: 50%;
		}
	}

	& > p {
		display: inline-block;
		font-size: 16px;
		color: rgba(44, 47, 69, 0.3);
		border-bottom: 1px solid;

		@media (--max-desktop) {
			display: none;
		}
	}
}

header-recommend {
	grid-area: recommend;
	display: flex;
	align-items: center;
	margin-top: -33px;

	@media (--max-desktop) {
		display: none;
	}

	&::before {
		content: '';
		display: block;
		width: 32px;
		height: 32px;
		background-color: #ff7800;
		border-radius: 50%;
		background-image: url('../../img/icon-ruble-white.svg');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		margin-right: 17px;
	}

	& > a {
		line-height: 28px;
		font-size: 16px;
		font-weight: $FontBold;
		color: #3c3f52;
		text-decoration: none;
	}
}

header-cart {
	grid-area: cart;
	display: flex;
	align-items: center;

	@media (--max-desktop) {
		margin-left: 8px;
	}

	&-icon {
		display: block;
		position: relative;
		width: 30px;
		height: 29px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-image: url('../../img/icon-cart-grey.svg');
		background-size: contain;
		cursor: pointer;

		@media (--max-desktop) {
			width: 23px;
			height: 24px;
		}

		&::after {
			content: attr(amount);
			position: absolute;
			right: 0;
			top: -6px;
			transform: translateX(50%);
			width: 19px;
			height: 19px;
			background-color: #ff7800;
			border-radius: 50%;
			line-height: 18px;
			font-size: 10px;
			font-weight: $FontBold;
			color: $color-white;
			text-align: center;

			@media (--max-desktop) {
				width: 15.2px;
				height: 15.2px;
				right: -5px;
			}
		}
	}

	& > span {
		font-size: 20px;
		font-weight: $FontMedium;
		color: #2c2f45;

		@media (--max-desktop) {
			display: none;
		}
	}

	&-icon + span {
		margin-left: 27px;
	}
}

.header-menu {
	@media (--max-desktop) {
		& > label:first-of-type {
			position: absolute;
			bottom: 19px;
			left: 20px;
		}
	}

	@media (--desktop) {
		padding-left: 3vw;
		padding-right: 3vw;
	}

	@media (--big-desktop) {
		padding-left: 14vw;
		padding-right: 14vw;
	}
}