@import "../variables.scss";

.form {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-between;
  grid-gap: 20px;
  padding: 50px $margin-mobile;

  @media (--min-desktop) {
    padding-left: $margin-desktop;
    padding-right: $margin-desktop;
  }

  & > * > * + * {
    margin-top: 10px;
  }
}

/*
.custom-textarea {
}*/
