@import "../variables.scss";

.form {
  justify-content: space-between;
  padding: 50px $margin-mobile;

  @supports not (display: grid) {
    display: flex;
    flex-wrap: wrap;

    & > * {
      width: 100%;
      max-width: 30%;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }

  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 20px;
  }

  @media (--min-desktop) {
    padding-left: $margin-desktop;
    padding-right: $margin-desktop;
  }

  & > * > * + * {
    margin-top: 10px;
  }
}

.custom-textarea {
  padding: 20px;
}
